* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000000;
    color: #9C9C9C;
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}

header {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px ;
}






h1 {
    color: white;
    margin: 30px;
    background: #000000;
    
}

main {
    display: flex;
    width: 700px;
    margin: 30px;
    justify-content: space-around;
    margin-top: 50px;

}



.acesso {
    height: 160px;
    width: 160px;
}

.paragraph {
    text-align: center;
    font-size: 14px;

}


.but1 {
    border: 1.5px solid #ffffff;
    border-radius: 8px;
    color: #ffffff;
    padding: 13px 47px;
    background-color: #000000;
    margin-top: 94px;
}

.but1:hover {
    background-color: #ffffff;
    color: black;
}

.acesso img {
    border: 3px solid black;
    border-radius: 8px;
}

.acesso img:hover {
    border: 3px solid #7B61FF;
}
.acesso:hover{
    color: white;
}